In [71]:
import pandas as pd
from tqdm import tqdm

In [72]:
import pymongo
from pymongo import MongoClient

def mongo_connect(host, port, db_name, db_col):
    client = MongoClient(host, port)
    db = client[db_name]
    col = db[db_col]
    return col

col = mongo_connect('mongodb://localhost', 27017, 'newsDB', 'sample')

In [51]:
def mongo_data_insert_many(host, port, db_name, db_col, json_data):
    client = MongoClient(host, port)
    db = client[db_name]
    col = db[db_col]
    # 혹시 cp848 error 가 뜨시는 분은 open(json_file_name, 'r',  encoding = 'utf-8')로 바꿔주세요.
    # with open(json_file_name, 'r') as f:
        # json_data = json.load(f)
    col.insert_many(json_data)

In [73]:
news = pd.DataFrame(col.find())

In [141]:
news

,_id,time,category,text_headline,text_context,text_company,context_url,label
0,618e0930bd20aca0f83cd7b6,2020.01.01. 오후 11:34,오피니언,사설 北 핵·ICBM 시험 재개 시사… ‘잘못된 길’ 선택해선 안 된다,김정은 노동당 전원회의 보고 “충격적 행동” “새 전략무기” 위협 핵·경제 병진노선...,세계일보,https://news.naver.com/main/read.naver?mode=LS...,"[0.0001323284, 0.9998219609, 4.56862e-05]"
1,618e0930bd20aca0f83cd7b7,2020.01.01. 오후 11:34,오피니언,사설 수출 역성장 멈추려면 기업 활력부터 되살려내야,지난해 수출이 10년 만에 두 자릿수의 하락세를 보였다. 산업통상자원부에 따르면 지...,세계일보,https://news.naver.com/main/read.naver?mode=LS...,"[0.000214953, 0.0001070793, 0.9996778965]"
2,618e0930bd20aca0f83cd7b8,2020.01.01. 오후 11:34,오피니언,사설 여권 일방통행식 국회 운영 정국 정상화 가능하겠나,새해 벽두부터 국회에 짙은 전운이 감돌고 있다. 문재인 대통령은 지난달 31일 국회...,세계일보,https://news.naver.com/main/read.naver?mode=LS...,"[0.0002281908, 0.0004745125, 0.9992972612]"
3,618e0930bd20aca0f83cd7b9,2020.01.01. 오후 11:30,오피니언,설왕설래 인구절벽,출산율이 높던 시절 우리나라는 적극적인 산아제한 정책으로 인구증가를 억제했다. 19...,세계일보,https://news.naver.com/main/read.naver?mode=LS...,"[0.9952475429, 0.0015064679, 0.0032459791]"
4,618e0930bd20aca0f83cd7ba,2020.01.01. 오후 11:30,오피니언,세계포럼 친중 정책 레드라인 넘지 말아야,北제재 완화 동조·中핵우산 발언 한·미 동맹 이탈로 비칠 우려 北·中은 6·25전쟁...,세계일보,https://news.naver.com/main/read.naver?mode=LS...,"[0.0268858895, 0.9715412855, 0.0015727939]"
...,...,...,...,...,...,...,...,...
133075,618e0930bd20aca0f83edf89,2020.01.09. 오전 12:01,사회,타다 법원 판단 이르면 2월 나온다,여객자동차운수사업법 위반 혐의로 재판에 넘겨진 이재웅 쏘카 대표 왼쪽 과 박재욱 V...,더팩트,https://news.naver.com/main/read.naver?mode=LS...,"[0.0001973001, 0.0001831057, 0.9996194839]"
133076,618e0930bd20aca0f83edf8a,2020.01.09. 오전 12:01,사회,국제 바칼로레아IB 프로그램 도입 속도낸다,대구CBS 신년기획④ 대구CBS 이정환 기자 대구CBS는 2020년 새해를 맞아 주...,노컷뉴스,https://news.naver.com/main/read.naver?mode=LS...,"[0.0036385453, 0.9961779118, 0.0001835769]"
133077,618e0930bd20aca0f83edf8b,2020.01.09. 오전 12:00,사회,정경심 교수 법원에 보석 청구...재판은 비공개 전환,표창장 위조와 입시비리·사모펀드 의혹 등으로 기소된 조국 전 법무부 장관의 부인 정...,YTN,https://news.naver.com/main/read.naver?mode=LS...,"[0.0002086027, 0.0003726953, 0.9994187355]"
133078,618e0930bd20aca0f83edf8c,2020.01.09. 오전 12:00,사회,알림뉴시스 콘텐츠 저작권 고지,뉴시스가 제공하는 기사 사진 그래픽 이미지 영상물 등 각종 콘텐츠는 저작권법 등 관...,뉴시스,https://news.naver.com/main/read.naver?mode=LS...,"[0.9951912165, 0.0016451118, 0.0031636776]"
133079,618e0930bd20aca0f83edf8d,2020.01.09. 오전 12:00,사회,녹유 오늘의 운세82년생 개띠 마음 기댈 곳 찾으세요,서울 뉴시스 녹유 錄喩 의 오늘의 운세 2020년 1월9일 목요일 음력 12월 15...,뉴시스,https://news.naver.com/main/read.naver?mode=LS...,"[0.9891768098, 0.0021106964, 0.0087123923]"

In [198]:
import re
time = news['time'].map(lambda x : x.split()[0])
title = news['text_headline'].map(lambda x : re.sub('[-=+,#/\?:^$.@*\"※~&%ㆍ!』\\‘|\(\)\[\]\<\>`\'…\"\“》’·]', ' ', x))
keyword = ['코로나', '여행', '대선', '주식', '부동산', '백신', '자영업', 'IT', '친환경', '교육', '수도권']
labels = list(news['label'])
company = news['text_company']

print(title)
u_time = list(time.unique())
print(u_time)
u_company = list(company.unique())
print(len(u_time), len(u_company), len(keyword))

#time / keyword / company 순
#전체count / 긍정 count/ 부정 count/ noaml count / 긍정 비율 / 부정 비율 / 노말 비율
# item = [[[[0, 0, 0, 0, .0, .0, .0]] * len(u_company)]*len(keyword)]*len(u_time)

item = [[[[0, 0, 0, 0, .0, .0, .0] for _ in range(len(u_company)+1)] for _ in range(len(keyword))] for _ in range(len(u_time)+1)]

print(item[0][10][0][5])

time = list(time)
title = list(title)

# for time in u_time:
    # for company in u_company:
        # for word in keyword:
            # print(time, company, word)
    
for i in tqdm(range(len(time))):
    t = u_time.index(time[i])
    c = u_company.index(company[i])
    for idx in range(len(keyword)):
        if keyword[idx] in title[i]:

            item[t][idx][c][0] += 1
        
            # 긍정,부정,노말 비율
            item[t][idx][c][4] += round(labels[i][0], 2)
            item[t][idx][c][5] += round(labels[i][1], 2)
            item[t][idx][c][6] += round(labels[i][2], 2)
            
            # 긍정, 부정, 노말 count
            item[t][idx][c][1+labels[i].index(max(labels[i]))] += 1
        
    
            
            
    # item[len(u_time)-1][len(keyword)-1][c][0] += 1
    # item[len(u_time)-1][len(keyword)-1][c][1+labels[i].index(max(labels[i]))] += 1
    # item[len(u_time)-1][len(keyword)-1][c][4] += 1
    # item[len(u_time)-1][len(keyword)-1][c][5] += 1
    # item[len(u_time)-1][len(keyword)-1][c][6] += 1
    
item_2 = [[[0, 0, 0, 0, .0, .0, .0] for _ in range(len(u_company)+1)] for _ in range(len(u_time)+1)]

for i in tqdm(range(len(time))):
    t = u_time.index(time[i])
    c = u_company.index(company[i])
    
    item_2[t][c][0] += 1

    # 긍정,부정,노말 비율
    item_2[t][c][4] += round(labels[i][0], 2)
    item_2[t][c][5] += round(labels[i][1], 2)
    item_2[t][c][6] += round(labels[i][2], 2)

    # 긍정, 부정, 노말 count
    item_2[t][c][1+labels[i].index(max(labels[i]))] += 1

0         사설 北 핵 ICBM 시험 재개 시사   잘못된 길  선택해선 안 된다
1                    사설 수출 역성장 멈추려면 기업 활력부터 되살려내야
2                  사설 여권 일방통행식 국회 운영 정국 정상화 가능하겠나
3                                       설왕설래 인구절벽
4                          세계포럼 친중 정책 레드라인 넘지 말아야
                           ...
133075                        타다 법원 판단 이르면 2월 나온다
133076                    국제 바칼로레아IB 프로그램 도입 속도낸다
133077              정경심 교수 법원에 보석 청구   재판은 비공개 전환
133078                           알림뉴시스 콘텐츠 저작권 고지
133079              녹유 오늘의 운세82년생 개띠 마음 기댈 곳 찾으세요
Name: text_headline, Length: 133080, dtype: object
['2020.01.01.', '2020.01.02.', '2020.01.03.', '2020.01.04.', '2020.01.05.', '2020.01.06.', '2020.01.07.', '2020.01.08.', '2020.01.09.']
9 85 11
0.0

100%|██████████████████████████████████████████████████████████████████████| 133080/133080 [00:00<00:00, 182614.19it/s]
100%|██████████████████████████████████████████████████████████████████████| 133080/133080 [00:00<00:00, 152437.59it/s]

In [199]:
def sum_module(a, b):
    a[0] += b[0]
    a[1] += b[1]
    a[2] += b[2]
    a[3] += b[3]
    a[4] += b[4]
    a[5] += b[5]
    a[6] += b[6]
    return a

In [200]:
for t in range(len(u_time)):
    for k in range(len(keyword)):
        for c in range(len(u_company)):
            item[len(u_time)][k][c] = sum_module(item[len(u_time)][k][c],item[t][k][c])
            item[t][k][len(u_company)] = sum_module(item[t][k][len(u_company)], item[t][k][c])
            item[len(u_time)][k][len(u_company)] = sum_module(item[len(u_time)][k][len(u_company)], item[t][k][c])

In [207]:
for t in range(len(u_time)):
    for c in range(len(u_company)):
        item_2[len(u_time)][c] = sum_module(item_2[len(u_time)][c],item_2[t][c])
        item_2[t][len(u_company)] = sum_module(item_2[t][len(u_company)], item_2[t][c])
        item_2[len(u_time)][len(u_company)] = sum_module(item_2[len(u_time)][len(u_company)], item_2[t][c])

In [210]:
item_2[t][len(u_company)]

[39956, 5216, 21626, 13114, 5225.039999999993, 21560.52, 13158.499999999989]

In [202]:
result = []
print(len(u_time), len(keyword), len(u_company) )

l_company = len(u_company)
l_time = len(u_time)

for t in range(len(u_time)):
    for k in range(len(keyword)):
        for c in range(len(u_company)):
            positive = .0
            negative = .0
            nomal = .0
            
            if item[t][k][c][0] > 0:
                nomal = item[t][k][c][4] / item[t][k][c][0] 
                negative = item[t][k][c][5] / item[t][k][c][0] 
                positive = item[t][k][c][6] / item[t][k][c][0] 
            result.append({
                            '날짜':u_time[t], '키워드':keyword[k], '언론사':u_company[c],
                            '전체':item[t][k][c][0], '노말':item[t][k][c][1],
                          '부정':item[t][k][c][2], '긍정':item[t][k][c][3],
                          '노말비율':nomal ,'부정비율':negative,
                          '긍정비율':positive})
            
for t in range(len(u_time)):
    for k in range(len(keyword)):
        positive = .0
        negative = .0
        nomal = .0
        if item[t][k][l_company][0] > 0:
            nomal = item[t][k][l_company][4] / item[t][k][l_company][0] 
            negative = item[t][k][l_company][5] / item[t][k][l_company][0] 
            positive = item[t][k][l_company][6] / item[t][k][l_company][0] 
        result.append({
                        '날짜':u_time[t], '키워드':keyword[k], '언론사':'전체',
                        '전체':item[t][k][l_company][0], '노말':item[t][k][l_company][1],
                      '부정':item[t][k][l_company][2], '긍정':item[t][k][l_company][3],
                      '노말비율':nomal ,'부정비율':negative,
                      '긍정비율':positive})
        
for c in range(len(u_company)):
    for k in range(len(keyword)):
        positive = .0
        negative = .0
        nomal = .0
        if item[l_time][k][c][0] > 0:
            nomal = item[l_time][k][c][4] / item[l_time][k][c][0] 
            negative = item[l_time][k][c][5] / item[l_time][k][c][0] 
            positive = item[l_time][k][c][6] / item[l_time][k][c][0] 
        result.append({
                        '날짜':'전체', '키워드':keyword[k], '언론사':u_company[c],
                        '전체':item[l_time][k][c][0], '노말':item[l_time][k][c][1],
                      '부정':item[l_time][k][c][2], '긍정':item[l_time][k][c][3],
                      '노말비율':nomal ,'부정비율':negative,
                      '긍정비율':positive})

9 11 85

In [213]:
item_2[len(u_time)][4]

[1570, 186, 706, 678, 185.03999999999996, 704.56, 680.0200000000001]

In [203]:
for t in range(len(u_time)):
    for c in range(len(u_company)):
        positive = .0
        negative = .0
        nomal = .0

        if item_2[t][c][0] > 0:
            nomal = item_2[t][c][4] / item_2[t][c][0] 
            negative = item_2[t][c][5] / item_2[t][c][0] 
            positive = item_2[t][c][6] / item_2[t][c][0] 
        result.append({
                        '날짜':u_time[t], '키워드':'전체', '언론사':u_company[c],
                        '전체':item_2[t][c][0], '노말':item_2[t][c][1],
                      '부정':item_2[t][c][2], '긍정':item_2[t][c][3],
                      '노말비율':nomal ,'부정비율':negative,
                      '긍정비율':positive})
            
for t in range(len(u_time)):
    positive = .0
    negative = .0
    nomal = .0

    if item_2[t][len(u_company)][0] > 0:
        nomal = item_2[t][len(u_company)][4] / item_2[t][len(u_company)][0] 
        negative = item_2[t][len(u_company)][5] / item_2[t][len(u_company)][0] 
        positive = item_2[t][len(u_company)][6] / item_2[t][len(u_company)][0] 
    result.append({
                    '날짜':u_time[t], '키워드':'전체', '언론사':'전체',
                    '전체':item_2[t][len(u_company)][0], '노말':item_2[t][len(u_company)][1],
                  '부정':item_2[t][len(u_company)][2], '긍정':item_2[t][len(u_company)][3],
                  '노말비율':nomal ,'부정비율':negative,
                  '긍정비율':positive})

    
for c in range(len(u_company)):
    positive = .0
    negative = .0
    nomal = .0

    if item_2[len(u_time)][c][0] > 0:
        nomal = item_2[len(u_time)][c][4] / item_2[len(u_time)][c][0] 
        negative = item_2[len(u_time)][c][5] / item_2[len(u_time)][c][0] 
        positive = item_2[len(u_time)][c][6] / item_2[len(u_time)][c][0] 
    result.append({
                    '날짜':'전체', '키워드':'전체', '언론사':u_company[c],
                    '전체':item_2[len(u_time)][c][0], '노말':item_2[len(u_time)][c][1],
                  '부정':item_2[len(u_time)][c][2], '긍정':item_2[len(u_time)][c][3],
                  '노말비율':nomal ,'부정비율':negative,
                  '긍정비율':positive})
positive = .0
negative = .0
nomal = .0

if item_2[len(u_time)][len(u_company)][0] > 0:
    nomal = item_2[len(u_time)][len(u_company)][4] / item_2[len(u_time)][len(u_company)][0] 
    negative = item_2[len(u_time)][len(u_company)][5] / item_2[len(u_time)][len(u_company)][0] 
    positive = item_2[len(u_time)][len(u_company)][6] / item_2[len(u_time)][len(u_company)][0] 
    
result.append({
                '날짜':'전체', '키워드':'전체', '언론사':'전체',
                '전체':item_2[len(u_time)][len(u_company)][0], '노말':item_2[len(u_time)][len(u_company)][1],
              '부정':item_2[len(u_time)][len(u_company)][2], '긍정':item_2[len(u_time)][len(u_company)][3],
              '노말비율':nomal ,'부정비율':negative,
              '긍정비율':positive})

In [204]:
df = pd.DataFrame(result)
df

,날짜,키워드,언론사,전체,노말,부정,긍정,노말비율,부정비율,긍정비율
0,2020.01.01.,코로나,세계일보,0,0,0,0,0.000000,0.000000,0.000000
1,2020.01.01.,코로나,노컷뉴스,0,0,0,0,0.000000,0.000000,0.000000
2,2020.01.01.,코로나,경향신문,0,0,0,0,0.000000,0.000000,0.000000
3,2020.01.01.,코로나,연합뉴스,0,0,0,0,0.000000,0.000000,0.000000
4,2020.01.01.,코로나,스포츠서울,0,0,0,0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
10304,전체,전체,뉴스타파,2,0,1,1,0.000000,0.500000,0.500000
10305,전체,전체,MK스포츠,1,0,1,0,0.030000,0.960000,0.000000
10306,전체,전체,헤럴드POP,2,0,1,1,0.000000,0.500000,0.500000
10307,전체,전체,한경비즈니스,28,6,12,10,0.216071,0.427857,0.355714
10308,전체,전체,전체,133080,16540,73674,42866,0.124292,0.552088,0.323327

In [205]:
df[(df['키워드'] == '전체')]

,날짜,키워드,언론사,전체,노말,부정,긍정,노말비율,부정비율,긍정비율
9449,2020.01.01.,전체,세계일보,183,21,117,45,0.114809,0.635082,0.249945
9450,2020.01.01.,전체,노컷뉴스,122,12,71,39,0.097787,0.582623,0.319590
9451,2020.01.01.,전체,경향신문,135,13,70,52,0.098444,0.519630,0.381852
9452,2020.01.01.,전체,연합뉴스,1816,220,1087,509,0.119895,0.599570,0.280352
9453,2020.01.01.,전체,스포츠서울,51,4,32,15,0.082549,0.623333,0.293922
...,...,...,...,...,...,...,...,...,...,...
10304,전체,전체,뉴스타파,2,0,1,1,0.000000,0.500000,0.500000
10305,전체,전체,MK스포츠,1,0,1,0,0.030000,0.960000,0.000000
10306,전체,전체,헤럴드POP,2,0,1,1,0.000000,0.500000,0.500000
10307,전체,전체,한경비즈니스,28,6,12,10,0.216071,0.427857,0.355714
10308,전체,전체,전체,133080,16540,73674,42866,0.124292,0.552088,0.323327

In [222]:
df[(df['키워드'] == '전체') & (df['날짜'] == '전체')]['전체']

10223      1903
10224      2565
10225      1414
10226     22505
10227       785
          ...
10304         2
10305         1
10306         2
10307        28
10308    133080
Name: 전체, Length: 86, dtype: int64

In [223]:
df[(df['키워드'] == '전체') & (df['날짜'] == '전체')]['전체'].iloc[:-1].sum()

133080

In [214]:
df.to_json('./data/premade_sample2.json', orient= 'records')

In [54]:
# import json

# json_val = json.dumps(result)

mongo_data_insert_many('mongodb://localhost', 27017, 'newsDB', 'sample2', result)