In [55]:
import pandas as pd
from tqdm import tqdm, notebook

In [36]:
# sample2 = mongo_connect('mongodb://localhost', 27017, 'newsDB', 'premade')

In [110]:
import pymongo
from pymongo import MongoClient

def mongo_connect(host, port, db_name, db_col, username, password):
    client = MongoClient(host, port, username = username, password = password)
    db = client[db_name]
    col = db[db_col]
    return db, col

db, premade = mongo_connect('mongodb://34.64.216.132', 27017, 'newsDB', 'premade', username = "root", password = "0000")
db, premade = mongo_connect('mongodb://localhost', 27017, 'newsDB', 'premade', username = "root", password = "0000")

In [57]:
import pymongo
from pymongo import MongoClient

def mongo_connect(host, port, db_name, db_col, username, password):
    client = MongoClient(host, port, username = username, password = password)
    db = client[db_name]
    col = db[db_col]
    return db, col

resource = mongo_connect('mongodb://34.64.216.132', 27017, 'newsDB', 'resource', username = "root", password = "0000")
db, premade = mongo_connect('mongodb://localhost', 27017, 'newsDB', 'premade', username = "root", password = "0000")

In [4]:
def mongo_data_insert_many(host, port, db_name, db_col, json_data):
    client = MongoClient(host, port)
    db = client[db_name]
    col = db[db_col]
    # 혹시 cp848 error 가 뜨시는 분은 open(json_file_name, 'r',  encoding = 'utf-8')로 바꿔주세요.
    # with open(json_file_name, 'r') as f:
        # json_data = json.load(f)
    col.insert_many(json_data)

In [5]:
# news = pd.read_json('../model/result.json')

In [14]:
from datetime import datetime
import calendar

def make_yesterday(year, month, day):
    if day == 1:
        if month == 1:
            month = 12;
            year -= 1;
            day = calendar.monthrange(year, month)[1]
        else:
            month -= 1
            day = calendar.monthrange(year, month)[1]
    else:
        day -= 1
    return year, month, day

year = datetime.now().year
month = datetime.now().month
day = datetime.now().day

year, month, day = make_yesterday(year, month, day)

year = str(year)
month = str(month)
day = str(day)

if len(str(month)) == 1:
    month = "0" + str(month)
if len(str(day)) == 1:
    day = "0" + str(day)

today = year+"."+month+"."+day

In [25]:
query = {'time':{'$lt':'2021.11.26'}, 'time': {'$gte':'2021.01.01'}}

In [59]:
news = pd.DataFrame(predict.find(query))

In [ ]:
premade = pd.DataFrame(sample2.find({'날짜':'전체'}))

In [111]:
df = pd.DataFrame(premade.find())

In [61]:
news

,_id,time,category,text_headline,text_company,context_url,label
0,61a5ebcd4a92cd9525f32eef,2021.08.01. 오전 12:00,사회,"7월 국민청원, '죽음 내몬 학교폭력·친족 성범죄·미얀마 NUG' 주목",더팩트,https://news.naver.com/main/read.naver?mode=LS...,"[0.0006792055, 0.9992014766, 0.0001193225]"
1,61a5ebcd4a92cd9525f32ef0,2021.07.01. 오전 3:02,사회,"文대통령, 헌법기관장 초청 오찬",동아일보,https://news.naver.com/main/read.naver?mode=LS...,"[0.0057624034, 0.9935791492, 0.0006584927]"
2,61a5ebcd4a92cd9525f32ef1,2021.07.01. 오전 9:57,경제,"포드, 반도체 부족에 7월에도 대규모 감산",연합뉴스,https://news.naver.com/main/read.naver?mode=LS...,"[0.0002983378, 0.9994268417, 0.0002748973]"
3,61a5ebcd4a92cd9525f32ef2,2021.07.21. 오전 6:00,경제,니로 EV 후퇴등 제작결함…닛산·기아 등 4개사 4만8천여대 리콜,연합뉴스,https://news.naver.com/main/read.naver?mode=LS...,"[0.0004085956, 0.9992976189, 0.0002937312]"
4,61a5ebcd4a92cd9525f32ef3,2021.07.01. 오전 12:00,생활/문화,[녹유 오늘의 운세] 43년생 착잡해진 감정은 비워야 해요.,뉴시스,https://news.naver.com/main/read.naver?mode=LS...,"[0.9521385431, 0.0333523154, 0.0145091871]"
...,...,...,...,...,...,...,...
3445354,61a5f94944e875e95cf38ed0,2021.11.29. 오전 12:02,사회,두개골 함몰되도록 폭행하고도 “안 때렸다” 발뺌한 동료들,국민일보,https://news.naver.com/main/read.naver?mode=LS...,"[0.0004447727, 4.84126e-05, 0.9995068312]"
3445355,61a5f94944e875e95cf38ed1,2021.11.29. 오전 12:01,사회,정인양 학대 부실대응 아동보호전문기관…형사처벌 가능성은,더팩트,https://news.naver.com/main/read.naver?mode=LS...,"[0.1227440387, 0.0006521237, 0.8766038418]"
3445356,61a5f94944e875e95cf38ed2,2021.11.29. 오전 12:01,사회,어젯밤 9시까지 2776명 확진...오늘 3천 명대 중반,YTN,https://news.naver.com/main/read.naver?mode=LS...,"[0.9993247986, 0.0005526622, 0.0001226204]"
3445357,61a5f94944e875e95cf38ed3,2021.11.29. 오전 12:00,사회,알림뉴시스 콘텐츠 저작권 고지,뉴시스,https://news.naver.com/main/read.naver?mode=LS...,"[0.9994095564, 0.0003640866, 0.0002264087]"
3445358,61a5f94944e875e95cf38ed4,2021.11.29. 오전 12:00,사회,녹유 오늘의 운세 50년생 뿌리고 거두는 즐거움을 알아요,뉴시스,https://news.naver.com/main/read.naver?mode=LS...,"[0.0045658271, 0.0007340843, 0.9947000742]"

In [62]:
# news = news[(news['time'] >= '2021.01.01.') & (news['time'] <= '2021.11.25.')]/

In [66]:
# news

,_id,time,category,text_headline,text_company,context_url,label
0,61a5ebcd4a92cd9525f32eef,2021.08.01. 오전 12:00,사회,"7월 국민청원, '죽음 내몬 학교폭력·친족 성범죄·미얀마 NUG' 주목",더팩트,https://news.naver.com/main/read.naver?mode=LS...,"[0.0006792055, 0.9992014766, 0.0001193225]"
1,61a5ebcd4a92cd9525f32ef0,2021.07.01. 오전 3:02,사회,"文대통령, 헌법기관장 초청 오찬",동아일보,https://news.naver.com/main/read.naver?mode=LS...,"[0.0057624034, 0.9935791492, 0.0006584927]"
2,61a5ebcd4a92cd9525f32ef1,2021.07.01. 오전 9:57,경제,"포드, 반도체 부족에 7월에도 대규모 감산",연합뉴스,https://news.naver.com/main/read.naver?mode=LS...,"[0.0002983378, 0.9994268417, 0.0002748973]"
3,61a5ebcd4a92cd9525f32ef2,2021.07.21. 오전 6:00,경제,니로 EV 후퇴등 제작결함…닛산·기아 등 4개사 4만8천여대 리콜,연합뉴스,https://news.naver.com/main/read.naver?mode=LS...,"[0.0004085956, 0.9992976189, 0.0002937312]"
4,61a5ebcd4a92cd9525f32ef3,2021.07.01. 오전 12:00,생활/문화,[녹유 오늘의 운세] 43년생 착잡해진 감정은 비워야 해요.,뉴시스,https://news.naver.com/main/read.naver?mode=LS...,"[0.9521385431, 0.0333523154, 0.0145091871]"
...,...,...,...,...,...,...,...
3429797,61a5ebdc4a92cd9525278522,2021.11.10. 오후 5:22,정치,이준석과 尹캠프는 왜 싸울까…진영대결론 vs 세대포위론,중앙일보,https://news.naver.com/main/read.naver?mode=LS...,"[0.6794663072, 0.0496629253, 0.2708708346]"
3429799,61a5ebdc4a92cd9525278524,2021.05.29. 오전 7:41,경제,[표]미국 주요기업 주가(5/28),이데일리,https://news.naver.com/main/read.naver?mode=LS...,"[0.9930686951, 0.0001015588, 0.0068297335]"
3429800,61a5ebdc4a92cd9525278525,2021.11.16. 오후 3:50,경제,"우리산업, 현대위아 열관리부품 공급업체 선정",이데일리,https://news.naver.com/main/read.naver?mode=LS...,"[0.0016920883, 0.0011165898, 0.9971913695]"
3429806,61a5ebdc4a92cd952527852b,2021.09.16. 오후 12:00,사회,누리호 발사 기념 사진전,연합뉴스,https://news.naver.com/main/read.naver?mode=LS...,"[0.0001113579, 3.34945e-05, 0.9998551607]"
3429809,61a5ebdc4a92cd952527852e,2021.09.16. 오후 12:00,사회,누리호 발사 기념 사진전,연합뉴스,https://news.naver.com/main/read.naver?mode=LS...,"[0.0001113579, 3.34945e-05, 0.9998551607]"

In [84]:
source = news[['text_company', 'label']]

In [85]:
source['time'] = time

C:\Users\jeon\anaconda3\envs\stockpredict\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [86]:
source['key'] = key

C:\Users\jeon\anaconda3\envs\stockpredict\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [94]:
import pymongo
from pymongo import MongoClient

def mongo_connect(host, port, db_name, db_col, username, password):
    client = MongoClient(host, port, username = username, password = password)
    db = client[db_name]
    col = db[db_col]
    return db, col

db ,resource = mongo_connect('mongodb://34.64.216.132', 27017, 'newsDB', 'resource', username = "root", password = "0000")
# db, premade = mongo_connect('mongodb://localhost', 27017, 'newsDB', 'premade', username = "root", password = "0000")

In [88]:
source = source[['time', 'text_company', 'key', 'label']]

In [105]:
source['text_company']

0           더팩트
1          동아일보
2          연합뉴스
3          연합뉴스
4           뉴시스
           ...
3364064    중앙일보
3364065    이데일리
3364066    이데일리
3364067    연합뉴스
3364068    연합뉴스
Name: text_company, Length: 3364069, dtype: object

In [95]:
resource

Collection(Database(MongoClient(host=['34.64.216.132:27017'], document_class=dict, tz_aware=False, connect=True), 'newsDB'), 'resource')

In [106]:
# source.to_csv('./data/source.csv', index = False, encoding='utf-8')
# source = pd.read_csv('./data/source.csv', encoding = 'utf-8')
source.to_json('./data/source1.json', orient= 'records', force_ascii=False)

import json
with open('./data/source1.json', 'r', encoding='utf-8') as f:
    json_data = json.load(f)v
    
resource.insert_many(json_data)

In [82]:
import re
time = news['time'].map(lambda x : x.split()[0])
title = news['text_headline'].map(lambda x : re.sub('[-=+,#/\?:^$.@*\"※~&%ㆍ!』\\‘|\(\)\[\]\<\>`\'…\"\“》’·]', ' ', x))
keyword = ['코로나', '여행', '대선', '주식', '부동산', '백신', '자영업', 'IT', '친환경', '교육', '수도권']
labels = list(news['label'])
company = news['text_company']

print(title)
u_time = list(time.unique())
print(u_time)
u_company = list(company.unique())
print(len(u_time), len(u_company), len(keyword))

#time / keyword / company 순
#전체count / 긍정 count/ 부정 count/ noaml count / 긍정 비율 / 부정 비율 / 노말 비율
# item = [[[[0, 0, 0, 0, .0, .0, .0]] * len(u_company)]*len(keyword)]*len(u_time)

item = [[[[0, 0, 0, 0, .0, .0, .0] for _ in range(len(u_company)+1)] for _ in range(len(keyword))] for _ in range(len(u_time)+1)]


key = [[] for i in range(len(time))]

print(item[0][10][0][5])

time = list(time)
title = list(title)

# for time in u_time:
    # for company in u_company:
        # for word in keyword:
            # print(time, company, word)
    
for i in tqdm(range(len(time))):
    try:
        t = u_time.index(time[i])
        c = u_company.index(company[i])
        for idx in range(len(keyword)):
            if keyword[idx] in title[i]:
                key[i].append(keyword[idx])
    except:
        pass

0          7월 국민청원   죽음 내몬 학교폭력 친족 성범죄 미얀마 NUG  주목
1                                文대통령  헌법기관장 초청 오찬
2                          포드  반도체 부족에 7월에도 대규모 감산
3             니로 EV 후퇴등 제작결함 닛산 기아 등 4개사 4만8천여대 리콜
4                 녹유 오늘의 운세  43년생 착잡해진 감정은 비워야 해요
                            ...
3429797             이준석과 尹캠프는 왜 싸울까 진영대결론 vs 세대포위론
3429799                         표 미국 주요기업 주가 5 28
3429800                   우리산업  현대위아 열관리부품 공급업체 선정
3429806                              누리호 발사 기념 사진전
3429809                              누리호 발사 기념 사진전
Name: text_headline, Length: 3364069, dtype: object
['2021.08.01.', '2021.07.01.', '2021.07.21.', '2021.08.10.', '2021.08.02.', '2021.08.03.', '2021.07.02.', '2021.08.04.', '2021.08.05.', '2021.07.03.', '2021.07.04.', '2021.07.05.', '2021.08.06.', '2021.08.07.', '2021.08.08.', '2021.07.06.', '2021.08.09.', '2021.07.07.', '2021.08.11.', '2021.08.12.', '2021.07.08.', '2021.08.13.', '2021.07.09.', '2021.08.14.', '2021.08.15.', '2021.07.10.', '2021.07.11.', '2021.07.12.', '2021.07.22.', '2021.07.13.', '2021.07.14.', '2021.08.16.', '2021.08.17.', '2021.07.15.', '2021.07.16.', '2021.07.17.', '2021.07.18.', '2021.07.19.', '2021.08.18.', '2021.07.20.', '2021.08.19.', '2021.08.20.', '2021.08.21.', '2021.08.22.', '2021.08.23.', '2021.08.24.', '2021.08.25.', '2021.07.23.', '2021.07.24.', '2021.07.25.', '2021.07.26.', '2021.08.26.', '2021.07.27.', '2021.08.27.', '2021.08.28.', '2021.08.29.', '2021.08.30.', '2021.07.28.', '2021.07.29.', '2021.08.31.', '2021.07.30.', '2021.07.31.', '2021.06.01.', '2021.06.05.', '2021.06.13.', '2021.06.15.', '2021.06.09.', '2021.06.03.', '2021.06.07.', '2021.06.11.', '2021.06.06.', '2021.06.14.', '2021.06.12.', '2021.06.02.', '2021.06.16.', '2021.06.10.', '2021.06.04.', '2021.06.08.', '2021.06.30.', '2021.06.29.', '2021.06.26.', '2021.06.27.', '2021.06.25.', '2021.06.28.', '2021.04.01.', '2021.01.01.', '2021.04.02.', '2021.01.02.', '2021.01.03.', '2021.04.03.', '2021.01.04.', '2021.04.04.', '2021.01.05.', '2021.04.05.', '2021.01.06.', '2021.01.07.', '2021.04.06.', '2021.04.07.', '2021.01.08.', '2021.04.08.', '2021.01.09.', '2021.01.10.', '2021.01.11.', '2021.04.09.', '2021.04.10.', '2021.04.11.', '2021.04.12.', '2021.01.12.', '2021.01.13.', '2021.01.14.', '2021.04.13.', '2021.01.15.', '2021.04.14.', '2021.01.16.', '2021.01.17.', '2021.04.15.', '2021.01.18.', '2021.04.16.', '2021.04.17.', '2021.04.18.', '2021.04.19.', '2021.01.19.', '2021.04.20.', '2021.04.21.', '2021.01.20.', '2021.04.22.', '2021.01.21.', '2021.04.23.', '2021.04.24.', '2021.04.25.', '2021.04.26.', '2021.01.22.', '2021.01.23.', '2021.01.24.', '2021.04.27.', '2021.01.25.', '2021.01.26.', '2021.04.28.', '2021.01.27.', '2021.04.29.', '2021.01.28.', '2021.04.30.', '2021.01.29.', '2021.05.01.', '2021.05.02.', '2021.05.03.', '2021.01.30.', '2021.01.31.', '2021.02.01.', '2021.05.04.', '2021.02.02.', '2021.05.05.', '2021.05.06.', '2021.02.03.', '2021.02.04.', '2021.05.07.', '2021.05.08.', '2021.05.09.', '2021.02.05.', '2021.05.10.', '2021.02.06.', '2021.02.07.', '2021.02.08.', '2021.02.09.', '2021.02.10.', '2021.05.11.', '2021.02.11.', '2021.02.12.', '2021.05.12.', '2021.02.13.', '2021.02.14.', '2021.02.15.', '2021.05.13.', '2021.02.16.', '2021.05.14.', '2021.02.17.', '2021.05.15.', '2021.05.16.', '2021.02.18.', '2021.05.17.', '2021.05.18.', '2021.02.19.', '2021.05.19.', '2021.02.20.', '2021.02.21.', '2021.02.22.', '2021.05.20.', '2021.02.23.', '2021.02.24.', '2021.02.25.', '2021.05.21.', '2021.02.26.', '2021.05.22.', '2021.02.27.', '2021.02.28.', '2021.03.01.', '2021.03.02.', '2021.03.03.', '2021.03.04.', '2021.03.05.', '2021.05.23.', '2021.03.06.', '2021.03.07.', '2021.03.08.', '2021.03.09.', '2021.03.10.', '2021.05.24.', '2021.05.25.', '2021.03.11.', '2021.05.26.', '2021.03.12.', '2021.05.27.', '2021.03.13.', '2021.03.14.', '2021.03.15.', '2021.05.28.', '2021.03.16.', '2021.03.17.', '2021.03.18.', '2021.05.29.', '2021.05.30.', '2021.03.19.', '2021.03.20.', '2021.03.21.', '2021.03.22.', '2021.05.31.', '2021.03.23.', '2021.03.24.', '2021.03.25.', '2021.03.26.', '2021.03.27.', '2021.03.28.', '2021.03.29.', '2021.03.30.', '2021.06.17.', '2021.06.18.', '2021.06.19.', '2021.06.20.', '2021.06.21.', '2021.06.22.', '2021.06.23.', '2021.06.24.', '2021.03.31.', '2021.09.01.', '2021.09.21.', '2021.10.11.', '2021.10.12.', '2021.09.02.', '2021.09.03.', '2021.10.13.', '2021.09.22.', '2021.10.14.', '2021.09.04.', '2021.09.05.', '2021.09.06.', '2021.10.15.', '2021.09.07.', '2021.09.08.', '2021.10.16.', '2021.10.17.', '2021.09.09.', '2021.09.23.', '2021.10.18.', '2021.10.19.', '2021.09.10.', '2021.10.20.', '2021.09.11.', '2021.09.12.', '2021.09.13.', '2021.09.14.', '2021.10.21.', '2021.09.24.', '2021.10.22.', '2021.09.25.', '2021.09.15.', '2021.10.23.', '2021.10.24.', '2021.10.25.', '2021.09.26.', '2021.09.27.', '2021.09.28.', '2021.09.16.', '2021.09.17.', '2021.09.29.', '2021.09.30.', '2021.09.18.', '2021.09.19.', '2021.10.01.', '2021.09.20.', '2021.10.26.', '2021.10.02.', '2021.10.03.', '2021.10.04.', '2021.10.05.', '2021.10.06.', '2021.10.27.', '2021.10.07.', '2021.10.08.', '2021.10.28.', '2021.10.09.', '2021.10.10.', '2021.10.29.', '2021.10.30.', '2021.10.31.', '2021.11.07.', '2021.11.19.', '2021.11.01.', '2021.11.13.', '2021.11.14.', '2021.11.08.', '2021.11.15.', '2021.11.20.', '2021.11.21.', '2021.11.02.', '2021.11.22.', '2021.11.09.', '2021.11.16.', '2021.11.23.', '2021.11.03.', '2021.11.10.', '2021.11.17.', '2021.11.24.', '2021.11.04.', '2021.11.11.', '2021.11.18.', '2021.11.05.', '2021.11.12.', '2021.11.06.']
328 82 11
0.0

100%|█████████████████████████████████████████████████████████████████████| 3364069/3364069 [00:48<00:00, 68933.99it/s]

In [29]:
import re
time = news['time'].map(lambda x : x.split()[0])
title = news['text_headline'].map(lambda x : re.sub('[-=+,#/\?:^$.@*\"※~&%ㆍ!』\\‘|\(\)\[\]\<\>`\'…\"\“》’·]', ' ', x))
keyword = ['코로나', '여행', '대선', '주식', '부동산', '백신', '자영업', 'IT', '친환경', '교육', '수도권']
labels = list(news['label'])
company = news['text_company']

print(title)
u_time = list(time.unique())
print(u_time)
u_company = list(company.unique())
print(len(u_time), len(u_company), len(keyword))

#time / keyword / company 순
#전체count / 긍정 count/ 부정 count/ noaml count / 긍정 비율 / 부정 비율 / 노말 비율
# item = [[[[0, 0, 0, 0, .0, .0, .0]] * len(u_company)]*len(keyword)]*len(u_time)

item = [[[[0, 0, 0, 0, .0, .0, .0] for _ in range(len(u_company)+1)] for _ in range(len(keyword))] for _ in range(len(u_time)+1)]

print(item[0][10][0][5])

time = list(time)
title = list(title)

# for time in u_time:
    # for company in u_company:
        # for word in keyword:
            # print(time, company, word)
    
for i in tqdm(range(len(time))):
    try:
        t = u_time.index(time[i])
        c = u_company.index(company[i])
        for idx in range(len(keyword)):
            if keyword[idx] in title[i]:

                item[t][idx][c][0] += 1

                # 긍정,부정,노말 비율
                item[t][idx][c][4] += round(labels[i][0], 2)
                item[t][idx][c][5] += round(labels[i][1], 2)
                item[t][idx][c][6] += round(labels[i][2], 2)

                # 긍정, 부정, 노말 count
                item[t][idx][c][1+labels[i].index(max(labels[i]))] += 1
    except:
        pass
        
    
            
            
    # item[len(u_time)-1][len(keyword)-1][c][0] += 1
    # item[len(u_time)-1][len(keyword)-1][c][1+labels[i].index(max(labels[i]))] += 1
    # item[len(u_time)-1][len(keyword)-1][c][4] += 1
    # item[len(u_time)-1][len(keyword)-1][c][5] += 1
    # item[len(u_time)-1][len(keyword)-1][c][6] += 1
    
item_2 = [[[0, 0, 0, 0, .0, .0, .0] for _ in range(len(u_company)+1)] for _ in range(len(u_time)+1)]

for i in tqdm(range(len(time))):
    try:
        t = u_time.index(time[i])
        c = u_company.index(company[i])

        item_2[t][c][0] += 1

        # 긍정,부정,노말 비율
        item_2[t][c][4] += round(labels[i][0], 2)
        item_2[t][c][5] += round(labels[i][1], 2)
        item_2[t][c][6] += round(labels[i][2], 2)

        # 긍정, 부정, 노말 count
        item_2[t][c][1+labels[i].index(max(labels[i]))] += 1
    except:
        pass

0          7월 국민청원   죽음 내몬 학교폭력 친족 성범죄 미얀마 NUG  주목
1                                文대통령  헌법기관장 초청 오찬
2                          포드  반도체 부족에 7월에도 대규모 감산
3             니로 EV 후퇴등 제작결함 닛산 기아 등 4개사 4만8천여대 리콜
4                 녹유 오늘의 운세  43년생 착잡해진 감정은 비워야 해요
                            ...
3429797             이준석과 尹캠프는 왜 싸울까 진영대결론 vs 세대포위론
3429799                         표 미국 주요기업 주가 5 28
3429800                   우리산업  현대위아 열관리부품 공급업체 선정
3429806                              누리호 발사 기념 사진전
3429809                              누리호 발사 기념 사진전
Name: text_headline, Length: 3364069, dtype: object
['2021.08.01.', '2021.07.01.', '2021.07.21.', '2021.08.10.', '2021.08.02.', '2021.08.03.', '2021.07.02.', '2021.08.04.', '2021.08.05.', '2021.07.03.', '2021.07.04.', '2021.07.05.', '2021.08.06.', '2021.08.07.', '2021.08.08.', '2021.07.06.', '2021.08.09.', '2021.07.07.', '2021.08.11.', '2021.08.12.', '2021.07.08.', '2021.08.13.', '2021.07.09.', '2021.08.14.', '2021.08.15.', '2021.07.10.', '2021.07.11.', '2021.07.12.', '2021.07.22.', '2021.07.13.', '2021.07.14.', '2021.08.16.', '2021.08.17.', '2021.07.15.', '2021.07.16.', '2021.07.17.', '2021.07.18.', '2021.07.19.', '2021.08.18.', '2021.07.20.', '2021.08.19.', '2021.08.20.', '2021.08.21.', '2021.08.22.', '2021.08.23.', '2021.08.24.', '2021.08.25.', '2021.07.23.', '2021.07.24.', '2021.07.25.', '2021.07.26.', '2021.08.26.', '2021.07.27.', '2021.08.27.', '2021.08.28.', '2021.08.29.', '2021.08.30.', '2021.07.28.', '2021.07.29.', '2021.08.31.', '2021.07.30.', '2021.07.31.', '2021.06.01.', '2021.06.05.', '2021.06.13.', '2021.06.15.', '2021.06.09.', '2021.06.03.', '2021.06.07.', '2021.06.11.', '2021.06.06.', '2021.06.14.', '2021.06.12.', '2021.06.02.', '2021.06.16.', '2021.06.10.', '2021.06.04.', '2021.06.08.', '2021.06.30.', '2021.06.29.', '2021.06.26.', '2021.06.27.', '2021.06.25.', '2021.06.28.', '2021.04.01.', '2021.01.01.', '2021.04.02.', '2021.01.02.', '2021.01.03.', '2021.04.03.', '2021.01.04.', '2021.04.04.', '2021.01.05.', '2021.04.05.', '2021.01.06.', '2021.01.07.', '2021.04.06.', '2021.04.07.', '2021.01.08.', '2021.04.08.', '2021.01.09.', '2021.01.10.', '2021.01.11.', '2021.04.09.', '2021.04.10.', '2021.04.11.', '2021.04.12.', '2021.01.12.', '2021.01.13.', '2021.01.14.', '2021.04.13.', '2021.01.15.', '2021.04.14.', '2021.01.16.', '2021.01.17.', '2021.04.15.', '2021.01.18.', '2021.04.16.', '2021.04.17.', '2021.04.18.', '2021.04.19.', '2021.01.19.', '2021.04.20.', '2021.04.21.', '2021.01.20.', '2021.04.22.', '2021.01.21.', '2021.04.23.', '2021.04.24.', '2021.04.25.', '2021.04.26.', '2021.01.22.', '2021.01.23.', '2021.01.24.', '2021.04.27.', '2021.01.25.', '2021.01.26.', '2021.04.28.', '2021.01.27.', '2021.04.29.', '2021.01.28.', '2021.04.30.', '2021.01.29.', '2021.05.01.', '2021.05.02.', '2021.05.03.', '2021.01.30.', '2021.01.31.', '2021.02.01.', '2021.05.04.', '2021.02.02.', '2021.05.05.', '2021.05.06.', '2021.02.03.', '2021.02.04.', '2021.05.07.', '2021.05.08.', '2021.05.09.', '2021.02.05.', '2021.05.10.', '2021.02.06.', '2021.02.07.', '2021.02.08.', '2021.02.09.', '2021.02.10.', '2021.05.11.', '2021.02.11.', '2021.02.12.', '2021.05.12.', '2021.02.13.', '2021.02.14.', '2021.02.15.', '2021.05.13.', '2021.02.16.', '2021.05.14.', '2021.02.17.', '2021.05.15.', '2021.05.16.', '2021.02.18.', '2021.05.17.', '2021.05.18.', '2021.02.19.', '2021.05.19.', '2021.02.20.', '2021.02.21.', '2021.02.22.', '2021.05.20.', '2021.02.23.', '2021.02.24.', '2021.02.25.', '2021.05.21.', '2021.02.26.', '2021.05.22.', '2021.02.27.', '2021.02.28.', '2021.03.01.', '2021.03.02.', '2021.03.03.', '2021.03.04.', '2021.03.05.', '2021.05.23.', '2021.03.06.', '2021.03.07.', '2021.03.08.', '2021.03.09.', '2021.03.10.', '2021.05.24.', '2021.05.25.', '2021.03.11.', '2021.05.26.', '2021.03.12.', '2021.05.27.', '2021.03.13.', '2021.03.14.', '2021.03.15.', '2021.05.28.', '2021.03.16.', '2021.03.17.', '2021.03.18.', '2021.05.29.', '2021.05.30.', '2021.03.19.', '2021.03.20.', '2021.03.21.', '2021.03.22.', '2021.05.31.', '2021.03.23.', '2021.03.24.', '2021.03.25.', '2021.03.26.', '2021.03.27.', '2021.03.28.', '2021.03.29.', '2021.03.30.', '2021.06.17.', '2021.06.18.', '2021.06.19.', '2021.06.20.', '2021.06.21.', '2021.06.22.', '2021.06.23.', '2021.06.24.', '2021.03.31.', '2021.09.01.', '2021.09.21.', '2021.10.11.', '2021.10.12.', '2021.09.02.', '2021.09.03.', '2021.10.13.', '2021.09.22.', '2021.10.14.', '2021.09.04.', '2021.09.05.', '2021.09.06.', '2021.10.15.', '2021.09.07.', '2021.09.08.', '2021.10.16.', '2021.10.17.', '2021.09.09.', '2021.09.23.', '2021.10.18.', '2021.10.19.', '2021.09.10.', '2021.10.20.', '2021.09.11.', '2021.09.12.', '2021.09.13.', '2021.09.14.', '2021.10.21.', '2021.09.24.', '2021.10.22.', '2021.09.25.', '2021.09.15.', '2021.10.23.', '2021.10.24.', '2021.10.25.', '2021.09.26.', '2021.09.27.', '2021.09.28.', '2021.09.16.', '2021.09.17.', '2021.09.29.', '2021.09.30.', '2021.09.18.', '2021.09.19.', '2021.10.01.', '2021.09.20.', '2021.10.26.', '2021.10.02.', '2021.10.03.', '2021.10.04.', '2021.10.05.', '2021.10.06.', '2021.10.27.', '2021.10.07.', '2021.10.08.', '2021.10.28.', '2021.10.09.', '2021.10.10.', '2021.10.29.', '2021.10.30.', '2021.10.31.', '2021.11.07.', '2021.11.19.', '2021.11.01.', '2021.11.13.', '2021.11.14.', '2021.11.08.', '2021.11.15.', '2021.11.20.', '2021.11.21.', '2021.11.02.', '2021.11.22.', '2021.11.09.', '2021.11.16.', '2021.11.23.', '2021.11.03.', '2021.11.10.', '2021.11.17.', '2021.11.24.', '2021.11.04.', '2021.11.11.', '2021.11.18.', '2021.11.05.', '2021.11.12.', '2021.11.06.']
328 82 11
0.0

100%|█████████████████████████████████████████████████████████████████████| 3364069/3364069 [00:51<00:00, 65465.25it/s]
100%|█████████████████████████████████████████████████████████████████████| 3364069/3364069 [00:53<00:00, 62701.94it/s]

In [32]:
def sum_module(a, b):
    a[0] += b[0]
    a[1] += b[1]
    a[2] += b[2]
    a[3] += b[3]
    a[4] += b[4]
    a[5] += b[5]
    a[6] += b[6]
    return a

In [33]:
for t in notebook.tqdm(range(len(u_time))):
    for k in range(len(keyword)):
        for c in range(len(u_company)):
            item[len(u_time)][k][c] = sum_module(item[len(u_time)][k][c], item[t][k][c])
            item[t][k][len(u_company)] = sum_module(item[t][k][len(u_company)], item[t][k][c]) 
            item[len(u_time)][k][len(u_company)] = sum_module(item[len(u_time)][k][len(u_company)], item[t][k][c])

  0%|          | 0/328 [00:00<?, ?it/s]

In [34]:
for t in notebook.tqdm(range(len(u_time))):
    for c in range(len(u_company)):
        item_2[len(u_time)][c] = sum_module(item_2[len(u_time)][c], item_2[t][c])
        item_2[t][len(u_company)] = sum_module(item_2[t][len(u_company)], item_2[t][c])
        item_2[len(u_time)][len(u_company)] = sum_module(item_2[len(u_time)][len(u_company)], item_2[t][c])

  0%|          | 0/328 [00:00<?, ?it/s]

In [87]:
# for k in range(len(keyword)):
#     for c in range(len(u_company)):
#         item[len(u_time)][k][c] = sum_module2(item[len(u_time)][k][c], premade[(premade['날짜'] == '전체') & (premade['키워드'] == keyword[k]) & (premade['언론사']==company[c])][['전체', '노말', '부정', '긍정','노말비율', '부정비율', '긍정비율']].values.tolist()[-1])

# for k in range(len(keyword)):
#     item[len(u_time)][k][len(u_company)] = sum_module2(item[len(u_time)][k][len(u_company)] , premade[(premade['날짜'] == '전체') & (premade['키워드'] == keyword[k]) & (premade['언론사']=='전체')][['전체', '노말', '부정', '긍정','노말비율', '부정비율', '긍정비율']].values.tolist()[-1])

In [85]:
# for c in range(len(u_company)):
#      item_2[len(u_time)][c] = sum_module2(item_2[len(u_time)][c], premade[(premade['날짜'] == '전체') & (premade['키워드'] == '전체') & (premade['언론사']==company[c])][['전체', '노말', '부정', '긍정','노말비율', '부정비율', '긍정비율']].values.tolist()[-1])
# item_2[len(u_time)][len(u_company)] = sum_module2(item_2[len(u_time)][len(u_company)], premade[(premade['날짜'] == '전체') & (premade['키워드'] == '전체') & (premade['언론사']=='전체')][['전체', '노말', '부정', '긍정','노말비율', '부정비율', '긍정비율']].values.tolist()[-1])

In [35]:
result = []
print(len(u_time), len(keyword), len(u_company) )

l_company = len(u_company)
l_time = len(u_time)

for t in range(len(u_time)):
    for k in range(len(keyword)):
        for c in range(len(u_company)):
            positive = .0
            negative = .0
            nomal = .0
            
            if item[t][k][c][0] > 0:
                nomal = item[t][k][c][4] / item[t][k][c][0] 
                negative = item[t][k][c][5] / item[t][k][c][0] 
                positive = item[t][k][c][6] / item[t][k][c][0] 
            result.append({
                            '날짜':u_time[t], '키워드':keyword[k], '언론사':u_company[c],
                            '전체':item[t][k][c][0], '노말':item[t][k][c][1],
                          '부정':item[t][k][c][2], '긍정':item[t][k][c][3],
                          '노말비율':nomal ,'부정비율':negative,
                          '긍정비율':positive})
            
for t in range(len(u_time)):
    for k in range(len(keyword)):
        positive = .0
        negative = .0
        nomal = .0
        if item[t][k][l_company][0] > 0:
            nomal = item[t][k][l_company][4] / item[t][k][l_company][0] 
            negative = item[t][k][l_company][5] / item[t][k][l_company][0] 
            positive = item[t][k][l_company][6] / item[t][k][l_company][0] 
        result.append({
                        '날짜':u_time[t], '키워드':keyword[k], '언론사':'전체',
                        '전체':item[t][k][l_company][0], '노말':item[t][k][l_company][1],
                      '부정':item[t][k][l_company][2], '긍정':item[t][k][l_company][3],
                      '노말비율':nomal ,'부정비율':negative,
                      '긍정비율':positive})
        
for c in range(len(u_company)):
    for k in range(len(keyword)):
        positive = .0
        negative = .0
        nomal = .0
        if item[l_time][k][c][0] > 0:
            nomal = item[l_time][k][c][4] / item[l_time][k][c][0] 
            negative = item[l_time][k][c][5] / item[l_time][k][c][0] 
            positive = item[l_time][k][c][6] / item[l_time][k][c][0] 
        result.append({
                        '날짜':'전체', '키워드':keyword[k], '언론사':u_company[c],
                        '전체':item[l_time][k][c][0], '노말':item[l_time][k][c][1],
                      '부정':item[l_time][k][c][2], '긍정':item[l_time][k][c][3],
                      '노말비율':nomal ,'부정비율':negative,
                      '긍정비율':positive})
        
for k in range(len(keyword)):
    positive = .0
    negative = .0
    nomal = .0
    if item[l_time][k][l_company][0] > 0:
        nomal = item[l_time][k][l_company][4] / item[l_time][k][l_company][0] 
        negative = item[l_time][k][l_company][5] / item[l_time][k][l_company][0] 
        positive = item[l_time][k][l_company][6] / item[l_time][k][l_company][0] 
    result.append({
                    '날짜':'전체', '키워드':keyword[k], '언론사':'전체',
                    '전체':item[l_time][k][l_company][0], '노말':item[l_time][k][l_company][1],
                  '부정':item[l_time][k][l_company][2], '긍정':item[l_time][k][l_company][3],
                  '노말비율':nomal ,'부정비율':negative,
                  '긍정비율':positive})

328 11 82

In [36]:
item_2[len(u_time)][4]

[61223,
 13099,
 18795,
 29329,
 13070.330000000007,
 18826.029999999995,
 29310.70999999999]

In [37]:
for t in range(len(u_time)):
    for c in range(len(u_company)):
        positive = .0
        negative = .0
        nomal = .0

        if item_2[t][c][0] > 0:
            nomal = item_2[t][c][4] / item_2[t][c][0] 
            negative = item_2[t][c][5] / item_2[t][c][0] 
            positive = item_2[t][c][6] / item_2[t][c][0] 
        result.append({
                        '날짜':u_time[t], '키워드':'전체', '언론사':u_company[c],
                        '전체':item_2[t][c][0], '노말':item_2[t][c][1],
                      '부정':item_2[t][c][2], '긍정':item_2[t][c][3],
                      '노말비율':nomal ,'부정비율':negative,
                      '긍정비율':positive})
            
for t in range(len(u_time)):
    positive = .0
    negative = .0
    nomal = .0

    if item_2[t][len(u_company)][0] > 0:
        nomal = item_2[t][len(u_company)][4] / item_2[t][len(u_company)][0] 
        negative = item_2[t][len(u_company)][5] / item_2[t][len(u_company)][0] 
        positive = item_2[t][len(u_company)][6] / item_2[t][len(u_company)][0] 
    result.append({
                    '날짜':u_time[t], '키워드':'전체', '언론사':'전체',
                    '전체':item_2[t][len(u_company)][0], '노말':item_2[t][len(u_company)][1],
                  '부정':item_2[t][len(u_company)][2], '긍정':item_2[t][len(u_company)][3],
                  '노말비율':nomal ,'부정비율':negative,
                  '긍정비율':positive})

    
for c in range(len(u_company)):
    positive = .0
    negative = .0
    nomal = .0

    if item_2[len(u_time)][c][0] > 0:
        nomal = item_2[len(u_time)][c][4] / item_2[len(u_time)][c][0] 
        negative = item_2[len(u_time)][c][5] / item_2[len(u_time)][c][0] 
        positive = item_2[len(u_time)][c][6] / item_2[len(u_time)][c][0] 
    result.append({
                    '날짜':'전체', '키워드':'전체', '언론사':u_company[c],
                    '전체':item_2[len(u_time)][c][0], '노말':item_2[len(u_time)][c][1],
                  '부정':item_2[len(u_time)][c][2], '긍정':item_2[len(u_time)][c][3],
                  '노말비율':nomal ,'부정비율':negative,
                  '긍정비율':positive})
positive = .0
negative = .0
nomal = .0

if item_2[len(u_time)][len(u_company)][0] > 0:
    nomal = item_2[len(u_time)][len(u_company)][4] / item_2[len(u_time)][len(u_company)][0] 
    negative = item_2[len(u_time)][len(u_company)][5] / item_2[len(u_time)][len(u_company)][0] 
    positive = item_2[len(u_time)][len(u_company)][6] / item_2[len(u_time)][len(u_company)][0] 
    
result.append({
                '날짜':'전체', '키워드':'전체', '언론사':'전체',
                '전체':item_2[len(u_time)][len(u_company)][0], '노말':item_2[len(u_time)][len(u_company)][1],
              '부정':item_2[len(u_time)][len(u_company)][2], '긍정':item_2[len(u_time)][len(u_company)][3],
              '노말비율':nomal ,'부정비율':negative,
              '긍정비율':positive})

In [38]:
df = pd.DataFrame(result)
df

,날짜,키워드,언론사,전체,노말,부정,긍정,노말비율,부정비율,긍정비율
0,2021.08.01.,코로나,더팩트,1,1,0,0,1.000000,0.000000,0.000000
1,2021.08.01.,코로나,동아일보,0,0,0,0,0.000000,0.000000,0.000000
2,2021.08.01.,코로나,연합뉴스,46,14,12,20,0.306957,0.256739,0.436304
3,2021.08.01.,코로나,뉴시스,49,15,12,22,0.307959,0.243061,0.448980
4,2021.08.01.,코로나,KBS,1,0,1,0,0.000000,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
327679,전체,전체,일다,88,9,17,62,0.100568,0.199773,0.698977
327680,전체,전체,월간 산,760,264,224,272,0.337658,0.300171,0.361645
327681,전체,전체,SBS연예뉴스,30,10,4,16,0.340333,0.144333,0.515333
327682,전체,전체,씨네21,222,56,27,139,0.348694,0.123919,0.532027
327683,전체,전체,전체,3332893,789813,820441,1722639,0.236324,0.246912,0.516490

In [44]:
df.to_csv('./data/premade_sample.csv', index = False, encoding='utf-8')
df = pd.read_csv('./data/premade_sample.csv', encoding = 'utf-8')
df.to_json('./data/premade_sample.json', orient= 'records', force_ascii=False)

import json
with open('./data/premade_sample.json', 'r', encoding='utf-8') as f:
    json_data = json.load(f)
    
premade.insert_many(json_data)

In [25]:
# import json

# json_val = json.dumps(result)

mongo_data_insert_many('mongodb://localhost', 27017, 'newsDB', 'sample2', result)

In [26]:
def mongo_connect(host, port, db_name, db_col):
    client = MongoClient(host, port)
    db = client[db_name]
    col = db[db_col]
    return col

col = mongo_connect('mongodb://localhost', 27017, 'newsDB', 'sample2')

In [33]:
premade.insert_many(json_data)

In [33]:
df = pd.DataFrame(list(col.find({},{'_id':False})))

In [34]:
df

,날짜,키워드,언론사,전체,노말,부정,긍정,노말비율,부정비율,긍정비율
0,2020.01.01.,코로나,세계일보,0,0,0,0,0.000000,0.000000,0.000000
1,2020.01.01.,코로나,노컷뉴스,0,0,0,0,0.000000,0.000000,0.000000
2,2020.01.01.,코로나,경향신문,0,0,0,0,0.000000,0.000000,0.000000
3,2020.01.01.,코로나,연합뉴스,0,0,0,0,0.000000,0.000000,0.000000
4,2020.01.01.,코로나,스포츠서울,0,0,0,0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
10304,전체,전체,뉴스타파,2,0,1,1,0.000000,0.500000,0.500000
10305,전체,전체,MK스포츠,1,0,1,0,0.030000,0.960000,0.000000
10306,전체,전체,헤럴드POP,2,0,1,1,0.000000,0.500000,0.500000
10307,전체,전체,한경비즈니스,28,6,12,10,0.216071,0.427857,0.355714
10308,전체,전체,전체,133080,16540,73674,42866,0.124292,0.552088,0.323327

In [38]:
df.to_json('./data/premade.json', orient= 'records',force_ascii=False)